h1 {
    color: #b1a5a5;
    font-weight: 900;
}

select {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

input {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

#diary-input {
    margin-top: 5px;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

#generate {
    width: 100px;
    cursor: pointer;
}

.recent-entry {
    background-color: white;
    margin-left: 50px;
    min-height: 200px;
    border-radius: 10px;
}

.recent-entry h5 {
    font-size: 26px;
    padding: 5px;
    margin: 0;
}

.entry {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 900px){
    select {
        width: 73%;
        margin-left: 1%;
        margin-right: 3%;
    }
    
    input {
        width: 12%;
        margin-left: 1%;
    }
    
    
    #diary-input  > input{
        margin: 20px;
        width: 100%;
        height: 50vh;
    }
}